@font-face{
  font-family: 'SFUIText';
  src: url('../fonts/SFUIText-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'SFUIText';
  src: url('../fonts/SFUIText-Medium.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: 'SFUIText';
  src: url('../fonts/SFUIText-Semibold.otf');
  font-weight: 600;
  font-style: normal;
}