//@import "../../../bower_components/angular-material/modules/scss/angular-material";
//@import "../../../bower_components/angular-material/modules/scss/angular-material.layouts";
//@import "../../../bower_components/angular-material/modules/scss/angular-material.layout-attributes";

@import "mixin";
@import "fonts";


body{
  font-family: SFUIText, sans-serif;;
  font-weight: 600;
  font-size: 15px;
}

*:focus { outline: none; }

.progress-container{
  display: block;
  height: 5px;
}

.progress-container{
  position: fixed;
  top:0;
  width: 100%;
  z-index: 999;
  //display: none;
}

.md-sidenav-left{
  width: 25%;
  padding:20px 30px;
  background-color: #292c33;
  position: relative;
  user-card{
    display: flex;
    flex-direction: row;
    //justify-content: center;
    align-items: center;
    margin-left: 8px;
    .avatar{
      width: 58px;
      height: 58px;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #fff;
      img{
        object-fit: cover;
        width: 50px;
        height: 50px;
        border: 4px solid rgba(0,0,0,0);
        border-radius: 50%;
      }
    }
    .user-name{
      color: #fff;
      font-size: 15px;
      margin-left: 16px;
    }
  }

  .projects-list{
    margin-top: 30px;
    color: #fff;
    margin-bottom: 20px;
    .projects-list__title{
      color: #b3bbcb;
      font-size: 12px;
      padding: 8px 16px;
      margin-bottom: 10px;
      button{
        color: #fff;
        background: none;
        border: 0;
        padding: 0;
        font-size: 24px;
        float: right;
        margin-top: -8px;
      }
    }
    ul{
      padding: 0;
      margin: 0;
      li{
        padding: 8px 16px;
        border-radius: 4px;
        margin: 1px 0;
        transition: background 0.3s;
        span{
          float: right;
        }
        &.active, &:hover{
          background-color: #6b6b99;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
  }

  .logout{
    margin: auto 0 0;
    color: #fff;
    text-decoration: none;
  }
}

md-content{
  background-color : #f7f7f7;
  padding-bottom: 36px;
  .top_panel{
    position: relative;
    z-index: 1;
    .search{
      padding: 0;
      margin: 0;
      width: 100%;
      height: 50px;
      input{
        height: 50px;
        padding: 0 50px 0 20px;
        &:focus{
          background: none;
        }
        &:invalid{
          border-color: #ddd;
          background: url('../images/icon_search.png') 20px no-repeat;
          @include image-2x(){
            background: url('../images/icon_search@2x.png') 20px no-repeat;
            background-size: 23px 23px;
          }
        }
      }
    }
    .md-button{
      margin: 5px;
      position: absolute;
      right: 0;
      top: 0;
      i{
        color: #5c5c5c;
      }
    }
  }
  .add-task{
    position: fixed;
    bottom: 32px;
    right: 32px;
  }
}

.tasks_block{
  width: 60%;
  margin: 0 auto;
  .tasks_block__time{
    color: #b3bbcb;
    margin: 16px 0 6px 6px;
    span{
      font-size: 12px;
    }
  }
  .tasks_block__container{
    box-shadow: 1px 3px 20px 0px rgba(0,0,0, 0.15);
    border-radius: 8px;
    overflow: hidden;
    .tasks_item{
      position: relative;
      display: flex;
      flex-direction: row;
      color: #212121;
      padding: 10px 30px;
      md-radio-group{
        margin: auto 0;
        md-radio-button{
          display: inline;
        }
      }
      > div{
        padding: 10px 0 10px 16px;
        border-left: 1px solid #eaeaea;
        margin-left: 16px;
        width: 100%;
      }
      &:not(:last-child){
        padding-bottom: 12px;
        &:after{
          content: '';
          display: block;
          height: 1px;
          padding-left: 16px;
          position: absolute;
          background: #eaeaea;
          bottom: 0;
          width: calc(100% - 78px);
        }
      }
      &:hover{
        cursor: pointer;
        background-color: rgba(0,0,0,0.01);
      }
    }
  }
}

.md-sidenav-right{
  width: 400px;
  background-color: #292c33;
  padding: 32px 75px;
  color: #fff;
  .sidenav-close{
    color: #fff;
    text-align: center;
    background: none;
    border: none;
    line-height: 5px;
    position: absolute;
    left: 10px;
    top: 20px;
    div{
      font-size: 10px;
    }
  }

  md-input-container{
    width: 100%;
    text-align: center;
    label{
      color: #fff;
      font-size: 18px;
      margin-bottom: 16px;
    }
    input{
      color: #fff;
      border-color: #fff;
      @include placeholder(){
        color: #fff;
        font-size: 15px;
      }
    }
    &.md-input-focused{
      input{
        border-color: #fff;
      }
    }
  }

  .button-done{
    position: absolute;
    bottom: 32px;
    right: 32px;
  }

  h3{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-top: 0;
  }
  p{
    font-weight: 400;
    font-size: 12px;
  }

  .task-button{
    position: absolute;
    right: 10px;
    top: 23px;
    button{
      border: none;
      background: none;
      color: #51555e;
    }
  }
}

.no-tasks, .select-project{
  color: #b1b1c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  width: 100%;
  margin: auto;
  bottom: 0;
  top: 0;
  i{
    font-size: 188px;
  }
}

.select-project{
  flex-direction: row;
}