//@import "../../../bower_components/angular-material/modules/scss/angular-material";
//@import "../../../bower_components/angular-material/modules/scss/angular-material.layouts";
//@import "../../../bower_components/angular-material/modules/scss/angular-material.layout-attributes";

@import "mixin";
@import "fonts";

body{
  font-family: SFUIText, sans-serif;;
  font-weight: 600;
  font-size: 15px;
}

*:focus{
  outline: none;
}

.progress-container{
  display: block;
  height: 5px;
}

.progress-container{
  position: fixed;
  top:0;
  width: 100%;
  z-index: 999;
  //display: none;
}

.button-done{
  position: fixed;
  bottom: 32px;
  right: 32px;
}

.md-button{
  &.md-fab{
    background-color: #6b6b99;
    &:not([disabled]):hover {
      background-color: #6b6b99;
    }
    &:not([disabled]):focus {
      background-color: #6b6b99;
    }
    &[disabled] {
      background-color: #6b6b99;
    }
  }
}

.md-sidenav-left{
  width: 24%;
  padding:20px 30px;
  background-color: #292c33;
  position: relative;
  user-card{
    display: flex;
    flex-direction: row;
    //justify-content: center;
    align-items: center;
    margin-left: 8px;
    .avatar{
      width: 58px;
      height: 58px;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #fff;
      img{
        object-fit: cover;
        width: 50px;
        height: 50px;
        border: 4px solid rgba(0,0,0,0);
        border-radius: 50%;
      }
    }
    .user-name{
      color: #fff;
      font-size: 15px;
      margin-left: 16px;
    }
  }

  .projects-list{
    margin-top: 30px;
    color: #fff;
    margin-bottom: 20px;
    .projects-list__title{
      color: #b3bbcb;
      font-size: 12px;
      padding: 8px 16px;
      margin-bottom: 10px;
      button{
        color: #fff;
        background: none;
        border: 0;
        padding: 0;
        font-size: 24px;
        float: right;
        margin-top: -8px;
      }
    }
    ul{
      padding: 0;
      margin: 0;
      li{
        padding: 10px 16px;
        border-radius: 4px;
        margin: 1px 0;
        transition: background 0.3s;
        span{
          float: right;
        }
        &.active, &:hover{
          background-color: #6b6b99;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
  }

  .logout{
    margin: auto 0 0;
    color: #fff;
    text-decoration: none;
  }
}

md-content{
  background-color : #f7f7f7;
  .top_panel{
    position: relative;
    z-index: 1;
    .search{
      padding: 0;
      margin: 0;
      width: 100%;
      height: 50px;
      input{
        height: 50px;
        padding: 0 50px 0 20px;
        &:invalid{
          border-bottom: 1px solid #bdbdbd;
          background: url('../images/icon_search.png') 20px no-repeat;
          @include image-2x(){
            background: url('../images/icon_search@2x.png') 20px no-repeat;
            background-size: 23px 23px;
          }
        }
      }
      &:not(.md-input-invalid).md-input-focused{
        input{
          border-bottom: 2px solid #bdbdbd;
        }
      }
    }
    .md-button{
      margin: 5px;
      position: absolute;
      right: 0;
      top: 0;
      i{
        color: #5c5c5c;
      }
    }
  }
  main{
    height: calc(100% - 50px);
    overflow: scroll;
    padding-bottom: 36px;
    .loading-more{
      margin: 10px auto;
      display: block;
    }
  }
}

.tasks_block{
  width: 57%;
  margin: 0 auto;
  .tasks_block__time{
    color: #b3bbcb;
    margin: 16px 0 6px 6px;
    span{
      font-size: 12px;
    }
  }
  .tasks_block__container{
    box-shadow: 1px 3px 20px 0px rgba(0,0,0, 0.15);
    border-radius: 8px;
    overflow: hidden;
    .tasks_item{
      position: relative;
      display: flex;
      flex-direction: row;
      color: #212121;
      padding-left: 30px;
      md-radio-group{
        margin: auto 0;
        md-radio-button{
          display: inline;
        }
      }
      > div{
        padding: 12px 0 12px 24px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        &:before{
          content: '';
          width: 1px;
          height: 36px;
          display: inline-block;
          background-color: #eaeaea;
          margin-right: 16px;
        }
      }
      &:not(:last-child){
        &:after{
          content: '';
          display: block;
          height: 1px;
          padding-left: 16px;
          position: absolute;
          background: #eaeaea;
          bottom: 0;
          width: calc(100% - 78px);
        }
      }
      &:hover{
        cursor: pointer;
        background-color: rgba(0,0,0,0.01);
      }
    }
  }
}

.md-sidenav-right {
  width: 35%;
  max-width: 35%;
  background-color: #292c33;
  padding: 32px 75px;
  color: #fff;
  .sidenav-close {
    color: #fff;
    text-align: center;
    background: none;
    border: none;
    line-height: 5px;
    position: absolute;
    left: 4px;
    top: 20px;
    div {
      font-size: 10px;
    }
  }

  md-input-container {
    width: 100%;
    margin: 5px 0;
    color: #fff;
    font-weight: 400;
    label {
      color: #fff;
      font-size: 14px;
    }
  }

  md-input-container:not(.md-input-invalid) {
    label {
      &:after {
        color: #fff !important;
      }
    }
    .md-input {
      border-color: #fff;
      color: #fff;
      @include placeholder() {
        color: #fff;
      }
    }
  }

  md-input-container:not(.md-input-invalid).md-input-focused {
    label {
      color: #cdcdcd;
    }
    .md-input {
      border-color: #cdcdcd;
    }
  }

  md-input-container.md-input-invalid {
    label{
      &:after{
        color: rgba(255, 0, 0, 0.5);
      }
    }
    .md-input {
      border-color: rgba(255, 0, 0, 0.5);
      @include placeholder() {
        color: rgba(255, 0, 0, 0.5);
      }
    }
  }
  md-input-container.md-input-has-value {
    label{
      color: #fff;
    }
  }

  .task-button{
    position: absolute;
    right: 10px;
    top: 23px;
    button{
      border: none;
      background: none;
      color: #51555e;
    }
  }

  h4{
    font-size: 15px;
    text-align: center;
    margin: 0 0 25px;
    font-weight: 500;
  }

  p{
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }
}

.no-tasks, .select-project{
  color: #b1b1c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  width: 100%;
  margin: auto;
  bottom: 0;
  top: 0;
  i{
    font-size: 188px;
  }
}

.select-project{
  flex-direction: row;
}