@mixin image-2x() {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    background-size: cover;
    @content;
  }
}

@mixin placeholder() {
  &::-webkit-input-placeholder {@content;}
  &::-moz-placeholder          {@content;}/* Firefox 19+ */
  &:-moz-placeholder           {@content;}/* Firefox 18- */
  &:-ms-input-placeholder      {@content;}
}

@mixin crop-text() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
