<form name="editProjectForm" ng-submit="editProject()">
    <h4>Edit project</h4>
    <md-input-container>
        <input type="text" placeholder="Project name" name="projectTitle" ng-model="title" required>
        <div ng-messages="editProjectForm.projectTitle.$error">
            <div ng-message="required">
                This field must not be empty.
            </div>
        </div>
    </md-input-container>
    <md-button class="md-fab button-done" type="submit">
        <i class="material-icons">done</i>
    </md-button>
</form>