<form ng-submit="addTask()">
    <h4>Create new task</h4>
    <md-input-container md-no-float>
        <input type="text" placeholder="Task name" ng-model="$parent.newTask.title" required>
    </md-input-container>
    <md-input-container md-no-float>
        <textarea rows="1" ng-model="$parent.newTask.description" placeholder="Description"></textarea>
    </md-input-container>
    <md-button class="md-fab button-done" type="submit">
        <i class="material-icons">done</i>
    </md-button>
</form>
