<div class="tasks_block">
    <div ng-repeat-start="value in dateTasks.items track by $index" class="tasks_block__time">
        {{value.text_date}}
    </div>
    <div ng-repeat-end class="tasks_block__container">
        <div class="tasks_item" ng-repeat="item in value.items track by $index">
            <md-radio-group>
                <md-radio-button aria-label="done" value="{{item.title}}" ng-click="compliteTask(item.id)"></md-radio-button>
            </md-radio-group>
            <div ui-sref="projects.task({taskId: item.id})">{{item.title}}</div>
        </div>
    </div>
</div>
<div class="no-tasks" ng-show="!dateTasks.items.length">
    <i class="material-icons">playlist_add_check</i>
    Have a good day
</div>